# APP
ENVIRONMENT_NAME=           # (p. ej. development, production)
APP_NAME=SUBCRIPTION SYSTEM by LACA-SOFT
APP_AUTHOR=LACA-SOFT
APP_PORT=3000
APP_PROD=false              # true en producción

APP_TRIAL_DAYS=7            # Días de prueba gratuita

CORS_ORIGIN=*               # Orígenes permitidos para CORS

# DATABASE
DB_USER=                   # Usuario de la base de datos
DB_PASS=                   # Contraseña de la base de datos
DB_NAME=                   # Nombre de la base de datos
DB_HOST=localhost
DB_PORT=5432
DB_SYNC=false               # true para sincronizar entidades en dev
DB_LOGGIN=false             # Habilitar logging de TypeORM
DB_LOAD_ENTITIES=true       # Cargar entidades automáticamente
DB_MIGRATIONS=src/database/migrations/*.ts
DB_SSL=false                # true si la BD requiere SSL

# BOT (API Key Guard)
BOT_API_KEY=                # Clave pública para llamadas al bot
BOT_API_SECRET=             # Secreto para validar el bot

# Stripe
STRIPE_SECRET_KEY=sk_test_…
STRIPE_WEBHOOK_SECRET=whsec_…

# PayPal
PAYPAL_CLIENT_ID=AbCdEf…
PAYPAL_SECRET=XyZ123…
PAYPAL_ENVIRONMENT=sandbox  # sandbox o live
PAYPAL_API_BASE=https://api-m.sandbox.paypal.com
PAYPAL_BRAND_NAME="SUBCRIPTION SYSTEM"
PAYPAL_WEBHOOK_ID=…

# BANK ACCOUNT
BANK_ACCOUNT_NAME=LACA-SOFT
BANK_ACCOUNT_NUMBER=0123-456-7890123456